@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.web {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;

  > header {
    padding: .5rem 1rem;
    text-align: center;
    background-color: #f0ebe3;

    h1 {
      font-size: 1.5rem;
    }
  }

  > main {
    padding: 2rem 1rem;
    background: #f6f5f2;

    .titulo {
      margin-bottom: 1em;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  > footer {
    padding: 1rem;
    background-color: #f0ebe3;

    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      list-style: none;
    }
  }
}

button {
  padding: .5rem 1rem;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  background-color: #45474b;
  color: #ffffff;
  transition: filter 300ms ease-out;

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
}

#mini-carrito {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #aeaeae;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#productos {
  display: grid;
  min-height: 500px;
  grid-template-columns: auto;
  justify-items: center;
  list-style: none;
  gap: 1rem;
  li {
    border: 1px solid #aeaeae;
    max-width: 300px;
    border-radius: 10px;

    img {
      width: 100%;
      aspect-ratio: 1/1;
      background-color: #ffffff;
      border-radius: 10px 10px 0 0;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 1rem;
      padding: 1rem;
      min-height: 200px;

      >p {
        font-size: 1.5rem;
        font-weight: bolder;
        text-align: center;
      }

      > h3 {
        text-align: center;
        padding: 0.5rem;
      }

    }
  }
}

.subtitulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.modal {
  border: 1px solid #aeaeae;
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  max-height: 95dvh;
  animation: fade-slide-up 0.3s ease-out forwards;
  margin: auto;
  border-radius: 10px;

  .detalle {
    text-align: center;

    img {
      width: 100%;
    }

    img, h3, p {
      margin-bottom: 1rem;
    }
  }

  .carrito {
    text-align: center;

    > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    >header {
      margin-bottom: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      background-color: #45474b;
      color: #f2f2f2;
    }

    >ul {
      padding-left: 1rem;
      text-align: left;
      list-style: none;
      
      li {
        margin-bottom: 1rem;
        min-height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div {
          display: flex;
          justify-content: space-evenly;
          
          >a {
            display: inline-block;
            text-decoration: none;
          }
          
          .btnAdd, .btnSub{
            width: 24px;
            height: 24px;
            margin: 0 0.5rem;
            text-align: center;
            border-radius: 100%;
            background: #45474b;
            color: #f2f2f2;
          }

        
        }
      }
    }
    >.total {
      font-size: 1.25rem;
      font-weight: bolder;
    }

    >footer {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

.bannerOferta {
  position: fixed;
  right: 25px;
  bottom: 25px;
  border: 1px dotted #000;
}

small {
  color: red;
}

#formCheckout h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #45474b;
  color: #f2f2f2;
}

#formCheckout div {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  > h3 {
    margin-top: 1rem;
    text-align: center;
  }
}


.gracias {
  color: green;
  text-align: center;
  padding: 80px;
  border-radius: 20px;
  
  > h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
}



@media (width >= 576px) {
  .web {
    > footer ul {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  #productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 768px) {
  .web {
    > footer ul {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  #productos {
    grid-template-columns: repeat(4, 1fr);
  }
}


.detalle h3{
  font-size: 1.5rem;
}

.detalle img {
  max-width: 350px;
}

.detalle .detalleTexto {
  text-align: start;
  line-height: 1.5;
}

.detalle .detallePrecio {
  font-size: 2rem;
  font-weight: bolder;
}


.detalle .detalleTag {
  text-transform: capitalize;
  font-style: italic;
  font-size: 0.75rem;
}


.detalle footer {
  display: flex;
  justify-content: space-evenly;
}

.eliminar {
  color: red;
}

